# Build directories
build/
docs/_build/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out

# Libraries
*.lib
*.a
*.so
*.dll

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user

# vcpkg
vcpkg_installed/

# Python
__pycache__/
*.pyc

# Documentation build cache
docs/.doctrees/